.container {
  background-image: url("/1781058_627137457342016_305895789_o.jpg");
  background-size: cover;
  font-family: "Raleway", sans-serif;
  max-width: 600px;
  margin: 10px auto;
  padding-top: 10px;
  border: 1px solid #f8f9fa;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px rgba(42, 46, 49, 0.3);
  text-align: center;
  color: #f8f9fa;
}
/* searchComponents */
.searchComponents {
  padding: 5px;
}
.search {
  margin: 0;
}

.citySearch {
  color: black;
  background-color: rgba(191, 197, 202, 0.5);
  border: 1px solid #f8f9fa;
  border-radius: 3px;
}
.citySearch:focus {
  color: black;
  background-color: rgba(248, 249, 250, 0.7);
}
.citySearch::placeholder {
  color: #f8f9fa;
}
#button-addon2 {
  color: #f8f9fa;
  background-color: rgba(191, 197, 202, 0.5);
  border: 1px solid #f8f9fa;
  border-radius: 3px;
}
#button-addon2:hover {
  color: black;
  background-color: rgba(248, 249, 250, 0.7);
}
img {
  height: 100px;
  width: 100px;
}
/* weatherComponents */
.weatherComponents {
  padding: 5px;
}
.location {
  text-align: left;
}
.weatherItem h1 {
  margin-top: 8px;
  margin-bottom: 0;
}
.temperatureButton {
  color: #f8f9fa;
  background: transparent;
  border: transparent;
  font-size: 18px;
  position: absolute;
  top: 0;
}

.weatherData {
  text-align: right;
  margin-bottom: 0;
}

.largeValue {
  font-size: 20px;
  font-weight: 400;
}

p {
  line-height: 20px;
  font-size: 12px;
  margin-bottom: 0;
}

/* forecastComponents*/
.forecastComponents {
  padding: 5px;
}
