.container {
  margin: 10px;
  border: 1px solid #6c757d;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 0px rgba(42, 46, 49, 0.3);
  text-align: center;
  color: black;
}
/* searchComponents */
.search {
  margin: 0;
}

.citySearch {
  border: 1px solid #6c757d;
  border-radius: 3px;
}
#button-addon2 {
  border-radius: 3px;
}

img {
  height: 100px;
  width: 100px;
}
/* weatherComponents */
.location {
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
